<?php
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
;
return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'simplified_null_return' => false,
        'phpdoc_to_comment' => false,
        'protected_to_private' => false,
        'phpdoc_var_without_name' => false,
    ))
    ->setFinder($finder)
;